@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Libre+Caslon+Text:wght@400;700&family=Merriweather&display=swap");
@font-face {
  font-family: ekselldisplay-large;
  src: url(../assets/ekselldisplay-large-webfont.woff2);
}
html, body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  font-family: "Lato", sans-serif;
  user-select: none;
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  scroll-snap-type: y mandatory;
  background-color: black;
}

.logo {
  line-height: 60px;
  position: fixed;
  float: left;
  margin: 16px 46px;
  color: #fff;
  font-weight: bold;
  letter-spacing: 2px;
}

nav {
  position: fixed;
  width: 100%;
  line-height: 60px;
  font-size: 1.1em;
  font-weight: 700;
  z-index: 10;
}

nav ul {
  line-height: 60px;
  list-style: none;
  overflow: hidden;
  color: #fff;
  padding: 0;
  text-align: right;
  margin: 0;
  padding-right: 40px;
  transition: 1s;
}

nav ul li {
  display: inline-block;
  padding: 16px 40px;
}

nav a {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

nav a:hover {
  cursor: pointer;
  text-decoration: none;
  color: #F5E388;
  transition: color 0.7s ease;
}

#mask {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  background-image: radial-gradient(ellipse at right, rgba(0, 0, 0, 0), black 60%);
  pointer-events: none;
  z-index: 2;
}

#particle-canvas {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
}

#scroll-arrow {
  text-align: center;
  position: relative;
  top: 0px;
}

.fade-text {
  display: none;
}

.line {
  height: 2px;
  width: 5em;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: black;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.color-black {
  background-color: black;
}

.color-red {
  background-color: #4287F5;
}

.color-yellow {
  background-color: #F5E388;
}

div#main {
  width: 100%;
  font-family: "Lato", sans-serif;
}
div#main .panel {
  scroll-snap-align: start;
  position: relative;
}
div#main #page-intro {
  min-height: 100vh;
  width: 100%;
  color: #EEEEEE;
  text-align: left;
  display: flex;
  align-items: center;
  z-index: 2;
  pointer-events: none;
}
div#main #page-intro #main-text {
  left: 20%;
  width: 40%;
  position: relative;
}
div#main #page-intro #main-text h1#linear-wipe {
  font-size: 5em;
  font-weight: 700;
  background: linear-gradient(80deg, white 60.5%, #84ff3d 65%, #2eabff 72.5%, #F5E388 83%, #EF4444 87%, white 92%);
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 2.5s linear infinite;
}
@keyframes shine {
  to {
    background-position: 200% center;
  }
}
div#main #page-intro #main-text h3 {
  font-size: 2.5em;
  font-weight: 700;
}
div#main #page-intro #main-text h3#description {
  color: #EEEEEE;
  font-size: 1.3em;
}
div#main #page-intro #main-text h3#hello {
  color: #F5E388;
}
div#main #page-intro #main-text h3#innovator {
  color: #2eabff;
}
div#main #page-about {
  min-height: 100vh;
  width: 100%;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
div#main #page-eniac {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}
div#main #page-eniac a {
  text-decoration: none;
  color: white;
}
div#main #page-eniac h1 {
  font-size: 4em;
  font-weight: 700;
}
div#main #page-eniac h3 {
  font-size: 1.3em;
  font-weight: 700;
}
div#main #page-eniac h3.subtitle {
  padding-bottom: 0em;
}
div#main #page-quidio {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
div#main #page-quidio a {
  text-decoration: none;
  color: black;
}
div#main #page-quidio h1 {
  font-size: 4em;
  font-weight: 700;
}
div#main #page-quidio h3 {
  font-size: 1.3em;
  font-weight: 700;
}
div#main #page-quidio h3.subtitle {
  padding-bottom: 0em;
}
div#main .eniac-text img, div#main .quidio-text img {
  width: 60%;
}

/*# sourceMappingURL=index.css.map */
