@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Libre+Caslon+Text:wght@400;700&family=Merriweather&display=swap");
@font-face {
  font-family: ekselldisplay-large;
  src: url(../assets/ekselldisplay-large-webfont.woff2);
}
html, body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  font-family: "Lato", sans-serif;
  user-select: none;
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  scroll-snap-type: y mandatory;
  background-color: black;
}

#mask {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  background-image: radial-gradient(ellipse at right, rgba(0, 0, 0, 0), black 60%);
  pointer-events: none;
  z-index: 2;
}

#particle-canvas {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
}

#scroll-arrow {
  text-align: center;
  position: relative;
  top: 0px;
}

.fade-text {
  display: block;
  position: relative;
  opacity: 0;
  top: 50px;
}

.line {
  height: 2px;
  width: 5em;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: black;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icons .break {
  flex-basis: 100%;
  height: 0;
}
.icons .circle {
  height: 20em;
  width: 20em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2em;
  margin-right: 2em;
  cursor: pointer;
}
.icons .square {
  height: 12em;
  width: 19em;
  background-color: #212529;
  transition: background-color 1s ease;
  border-radius: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 1em;
  margin-right: 1em;
  overflow: hidden;
  cursor: pointer;
}
.icons .square .banner {
  height: 6em;
  width: 19em;
  background-color: rgba(71, 71, 71, 0.3);
  position: relative;
  top: 100%;
  padding: 0.3em;
}
.icons .triangle {
  height: 19em;
  width: 19em;
  background-color: #212529;
  transition: background-color 1s ease;
  border-radius: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 1em;
  margin-right: 1em;
  overflow: hidden;
  cursor: pointer;
}
.icons .triangle .banner {
  height: 6em;
  width: 19em;
  position: relative;
  top: 7em;
  padding: 0.3em;
}
.icons .triangle .banner .text {
  padding: 1em;
}
.icons .triangle h1 {
  font-size: 1.3em;
  text-align: left;
  font-weight: 700;
}
.icons .triangle h3 {
  font-size: 0.8em;
  text-align: left;
  font-weight: 700;
  margin: 0 0 2px 0;
  text-transform: uppercase;
}
.icons .circle#eniac {
  background: linear-gradient(27.5deg, #23C4F8, #275EFE);
}
.icons .circle#quidio {
  background: linear-gradient(45deg, #F5AF41, #F39C12, #F1C40F, #F5E388);
}
.icons .circle img {
  width: 70%;
}
.icons .square#hpair img {
  position: relative;
  top: 35%;
  width: 80%;
}
.icons .square#lilly img {
  position: relative;
  top: 35%;
  height: 40%;
}
.icons .square#liberty img {
  position: relative;
  top: 35%;
  width: 80%;
}
.icons .square#hpair:hover {
  background-color: black;
}
.icons .square#lilly:hover {
  background-color: #dc3729;
}
.icons .square#liberty:hover {
  background-color: #191442;
}
.icons .triangle#learn-code {
  background-image: url(../assets/hadi.jpeg);
  background-size: 19em;
  background-position: center center;
}
.icons .triangle#learn-code .banner {
  background-color: #495b64;
}
.icons .triangle#dont-code {
  background-image: url(../assets/bird.jpg);
  background-size: 19em;
  background-position: center center;
}
.icons .triangle#dont-code .banner {
  background-color: #b6ac6e;
}
.icons .triangle#sanskrit {
  background-image: url(../assets/sanskrit.jpeg);
  background-size: 19em;
  background-position: center center;
}
.icons .triangle#sanskrit .banner {
  background-color: #2e1514;
}
.icons .triangle#friends {
  background-image: url(../assets/friends.jpg);
  background-size: 19em;
  background-position: center center;
}
.icons .triangle#friends .banner {
  background-color: #212529;
}

.color-black {
  background-color: black;
}

.color-red {
  background-color: #4287F5;
}

.color-yellow {
  background-color: #F5E388;
}

div#main {
  width: 100%;
  background-color: none;
  transition: background-color 0.4s ease;
  font-family: "Lato", sans-serif;
}
div#main .panel {
  scroll-snap-align: start;
  position: relative;
}
div#main #page-intro {
  min-height: 100vh;
  width: 100%;
  color: #EEEEEE;
  text-align: left;
  display: flex;
  align-items: center;
  z-index: 2;
  pointer-events: none;
}
div#main #page-intro #main-text {
  left: 20%;
  width: 40%;
  position: relative;
}
div#main #page-intro #main-text h1#linear-wipe {
  font-size: 5em;
  font-weight: 700;
  background: linear-gradient(80deg, white 60.5%, #84ff3d 65%, #2eabff 72.5%, #F5E388 83%, #EF4444 87%, white 92%);
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 2.5s linear infinite;
}
@keyframes shine {
  to {
    background-position: 200% center;
  }
}
div#main #page-intro #main-text h3 {
  font-size: 2.5em;
  font-weight: 700;
}
div#main #page-intro #main-text h3#description {
  color: #EEEEEE;
  font-size: 1.3em;
}
div#main #page-intro #main-text h3#hello {
  color: #F5E388;
}
div#main #page-intro #main-text h3#innovator {
  color: #2eabff;
}
div#main #page-about {
  min-height: 100vh;
  width: 100%;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to top, #101214, black);
}
div#main #page-about .title {
  font-size: 2em;
  margin: 1em;
}
div#main #page-eniac {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}
div#main #page-eniac a {
  text-decoration: none;
  color: white;
}
div#main #page-eniac h1 {
  font-size: 4em;
  font-weight: 700;
}
div#main #page-eniac h3 {
  font-size: 1.3em;
  font-weight: 700;
}
div#main #page-eniac h3.subtitle {
  padding-bottom: 0em;
}
div#main #page-quidio {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
div#main #page-quidio a {
  text-decoration: none;
  color: black;
}
div#main #page-quidio h1 {
  font-size: 4em;
  font-weight: 700;
}
div#main #page-quidio h3 {
  font-size: 1.3em;
  font-weight: 700;
}
div#main #page-quidio h3.subtitle {
  padding-bottom: 0em;
}
div#main .eniac-text img, div#main .quidio-text img {
  width: 60%;
}

/*# sourceMappingURL=index.css.map */
