@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Libre+Caslon+Text:wght@400;700&family=Merriweather&display=swap");
@font-face {
  font-family: ekselldisplay-large;
  src: url(../assets/ekselldisplay-large-webfont.woff2);
}
html, body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  font-family: ekselldisplay-large;
  overflow-x: hidden;
}

body {
  transition: background-color ease-in 0.5s;
  background-color: #33333B;
}

#page1 {
  width: 100%;
  height: 100vh;
  left: 0%;
  position: absolute;
  /*
  h1 {
      text-align: center;
      font-size: 13em;
      font-family: 'Libre Caslon Text', 'Merriweather', serif;
      font-family: $font-2;
      color: $accent-color;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: $accent-color;
  }
  */
}
#page1 .svg-color {
  stroke: #F2ADA0;
  font-size: 13em;
}
#page1 #a11y-svg {
  width: 1px;
  display: block;
  margin: auto;
  stroke-linecap: round;
  padding: 0.25rem;
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  animation: dash 2s linear forwards, fill 2s linear forwards;
  overflow: visible;
  height: 0;
  position: relative;
}
#page1 #a11y-svg-design {
  cursor: pointer;
  stroke-width: 2px;
}
@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: #F2ADA0;
  }
}

#page2 {
  width: 100%;
  height: 200vh;
  left: -100%;
  position: absolute;
}
#page2 h1 {
  text-align: center;
  color: #F2ADA0;
}
#page2 div#slide-1 {
  width: 100%;
  height: 100vh;
}
#page2 div#slide-1 #header {
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  line-height: 100vh;
}
#page2 div#slide-1 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}
#page2 div#slide-1 .letters {
  display: inline-block;
  opacity: 0;
}
#page2 div#slide-1 #video-container {
  position: absolute;
  z-index: -1;
  top: 30%;
  left: 5%;
  width: 27.5%;
  opacity: 0;
}
#page2 div#slide-1 #video-container #video {
  width: 100%;
}
#page2 div#slide-1 span {
  display: inline-block;
  vertical-align: middle;
  font-weight: 400;
  font-family: ekselldisplay-large;
  font-size: 1.5em;
  line-height: 1.2em;
}
#page2 div#slide-2 {
  width: 100%;
  height: 60vh;
}
#page2 div#slide-2 span {
  display: inline-block;
  vertical-align: middle;
  font-weight: 400;
  font-family: ekselldisplay-large;
  font-size: 1.5em;
  line-height: 1.2em;
}
#page2 div#slide-2 .box {
  height: 100%;
  float: left;
  position: relative;
}
#page2 div#slide-2 #box-1 {
  border-top: 2px solid #F2ADA0;
  background-color: #33333B;
  width: 25%;
}
#page2 div#slide-2 #box-2 {
  border-top: 2px solid #F2ADA0;
  background-color: #33333B;
  width: 35%;
}
#page2 div#slide-2 #box-3 {
  width: 40%;
}
#page2 div#slide-3 {
  position: relative;
  width: 100%;
  height: 100vh;
  border-top: 2px solid #F2ADA0;
  background-color: #33333B;
}

.sidenav {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 2em;
  color: #F2ADA0;
  display: block;
  position: relative;
  left: -100%;
}

.sidenav a:hover {
  color: #F2ADA0;
  transition: 0.5s;
}

.m-scene {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
