@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Libre+Caslon+Text:wght@400;700&family=Merriweather&display=swap');
@font-face {
    font-family: ekselldisplay-large;
    src: url(../assets/ekselldisplay-large-webfont.woff2);
}

$yellow: #F5E388;
$yellow-dark: #edd86f;
$blue-light: hsl(204 100% 59%);
$blue: #4287F5;
$blue-dark: #3875d8;
$red: #EF4444;
$black-light: #4b4949;
$black: #212529;
$black-dark: #101214;
$white: #EEEEEE;
$white-dark: rgb(163, 163, 163);
$font-1: 'Lato', sans-serif;
$font-2: ekselldisplay-large;

$font-sm: 1.3em;
$font-md: 2em;

html, body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    font-family: $font-1;
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    scroll-snap-type: y mandatory;
    background-color: black;
}

// [START misc]
#mask {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    background-image: radial-gradient(ellipse at right, rgba(0, 0, 0, 0), black 60%);
    pointer-events: none;
    z-index: 2;
}

#particle-canvas {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
}

#scroll-arrow {
    text-align: center;
    position: relative;
    top: 0px;
}

.fade-text {
    display: block;
    position: relative;
    opacity: 0;
    top: 50px;
}

.line {
    height: 2px;
    width: 5em;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.icons {
    display: flex;
    justify-content:center;
    align-items:center;
    .break {
        flex-basis: 100%;
        height: 0;
    }

    .circle {
        height: 20em;
        width: 20em;
        display: flex;
        justify-content:center;
        align-items:center;
        margin-left: 2em;
        margin-right: 2em;
        cursor: pointer;
    }

    .square {
        height: 12em;
        width: 19em;
        background-color: $black;
        transition: background-color 1s ease;
        border-radius: 1em;
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        align-items:center;
        margin-left: 1em;
        margin-right: 1em;
        overflow: hidden;
        cursor: pointer;
        .banner {
            height: 6em;
            width: 19em;
            background-color: rgba(71, 71, 71, 0.3);
            position: relative;
            top: 100%;
            padding: 0.3em;
        }
    }

    .triangle {
        height: 19em;
        width: 19em;
        background-color: $black;
        transition: background-color 1s ease;
        border-radius: 1em;
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        align-items:center;
        margin-left: 1em;
        margin-right: 1em;
        overflow: hidden;
        cursor: pointer;
        .banner {
            height: 6em;
            width: 19em;
            position: relative;
            top: 7em;
            padding: 0.3em;
            .text {
                padding: 1em;
            }
        }
        h1 {
            font-size: 1.3em;
            text-align: left;
            font-weight: 700;
        }
        h3 {
            font-size: 0.8em;
            text-align: left;
            font-weight: 700;
            margin: 0 0 2px 0;
            text-transform: uppercase;
        }
    }

    .circle#eniac {
        background: linear-gradient(27.5deg, #23C4F8, #275EFE)
    }

    .circle#quidio {
        background: linear-gradient(45deg, #F5AF41, #F39C12, #F1C40F, $yellow);
    }

    .circle#mit {
        background: linear-gradient(27.5deg, #310A0F, #8D4210);
    }

    .circle#augment {
        background: linear-gradient(27.5deg, #bdbdbd, #fffaf7);
    }

    .circle img {
        width: 70%;
    }

    .square#hpair img{
        position: relative;
        top: 35%;
        width: 80%;
    }
    .square#lilly img {
        position: relative;
        top: 35%;
        height: 40%;
    }
    .square#liberty img {
        position: relative;
        top: 35%;
        width: 80%;
    }
    .square#hpair:hover {
        background-color: black;
    }
    .square#lilly:hover {
        background-color: rgb(220, 55, 41);//$red;
    }
    .square#liberty:hover {
        background-color: rgb(25, 20, 66);
    }

    .triangle#learn-code {
        background-image: url(../assets/hadi.jpeg);
        background-size: 19em;
        background-position: center center;
        .banner {
            background-color: rgb(73, 91, 100);
        }
    }
    .triangle#dont-code {
        background-image: url(../assets/bird.jpg);
        background-size: 19em;
        background-position: center center;
        .banner {
            background-color: rgb(182, 172, 110);
        }
    }
    .triangle#sanskrit {
        background-image: url(../assets/sanskrit.jpeg);
        background-size: 19em;
        background-position: center center;
        .banner {
            background-color: rgb(46, 21, 20);
        }
    }
    .triangle#friends {
        background-image: url(../assets/friends.jpg);
        background-size: 19em;
        background-position: center center;
        .banner {
            background-color: $black;
        }
    }
}

// [END misc]

.color-black {
    background-color: black;
}

.color-red {
    background-color: $blue;
}

.color-yellow {
    background-color: $yellow;
}

div#main {
    width: 100%;
    background-color: none;
    transition: background-color 0.4s ease;
    font-family: $font-1;
    .panel {
        scroll-snap-align: start;
        position: relative;
    }
    #page-intro{
        min-height: 100vh;
        width: 100%;
        color: $white;
        text-align: left;
        display: flex;
        align-items: center;
        z-index: 2;
        pointer-events: none;
        #main-text {
            left: 20%;
            width: 40%;
            position: relative;
            h1#linear-wipe {
                font-size: 5em;
                font-weight: 700;
                //background: linear-gradient(80deg, #FFF 12.5%, hsl(98 100% 62%) 15%, hsl(204 100% 59%) 27.5%, #FFF 37.5%, $yellow 50%, $quidio-red 65%, white 80%);
                //background: linear-gradient(80deg, white 60.5%, hsl(98 100% 62%) 65%, $blue-light 72.5%, $yellow 83%, $red 87%, white 92%);
                background: linear-gradient(80deg, white 15%, hsl(98 100% 62%) 30%, $blue-light 45%, $yellow 70%, $red 85%, white 95%);
                background-size: 200% auto;

                color: #000;
                background-clip: text;
                text-fill-color: transparent;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;

                animation: shine 2.5s linear infinite;
                @keyframes shine {
                    to {
                        background-position: 200% center;
                    }
                }
            }

            h3 {
                font-size: 2.5em;
                font-weight: 700;
            }
            h3#description {
                color: $white;
                font-size: 1.3em;
            }
            h3#hello {
                color: $yellow;
            }
            h3#innovator {
                color: $blue-light;
            }
        }
    }

    #page-about{
        min-height: 100vh;
        width: 100%;
        color: white;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(to top, #101214 80%, black);// TODO: REMOVE
        .title {
            font-size: 2em;
            margin: 1em;
        }
    }

    #page-eniac{
        min-height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        text-align: center;
        a {
            text-decoration: none;
            color: white;
        }
        h1 {
            font-size: 4em;
            font-weight: 700;
        }
        h3 {
            font-size: 1.3em;
            font-weight: 700;
        }
        h3.subtitle {
            padding-bottom: 0em;
        }
    }

    #page-quidio{
        min-height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        a {
            text-decoration: none;
            color: black;
        }
        h1 {
            font-size: 4em;
            font-weight: 700;
        }
        h3 {
            font-size: 1.3em;
            font-weight: 700;
        }
        h3.subtitle {
            padding-bottom: 0em;
        }
    }

    .eniac-text, .quidio-text {
        img {
            width: 60%;
        }
    }
}